# Auto detect text files and perform LF normalization
* text=auto

# Documents
*.md text
*.txt text

# Scripts
*.sh text eol=lf
*.bash text eol=lf

# Source code
*.ts text
*.tsx text
*.js text
*.jsx text
*.json text
*.css text
*.scss text

# Graphics
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg text

# Archives
*.gz binary
*.tar binary
*.zip binary

# Fonts
*.woff binary
*.woff2 binary
*.eot binary
*.ttf binary
*.otf binary

